.propfileBox
{
  border: 1px solid black;
  margin: 6em 2em 2em ;
  padding: 1.5em ;
  background-color: rgba(255, 255, 255, .3);
  /*display: inline-block;*/
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  border-radius: .5rem;
  /*position: fixed;*/
  z-index: -1 ;
  top: 0;
  bottom: 0 ;
  left: 0 ;
  right: 0 ; 
  /*text-align: center;*/
}

.heading
{
  justify-content: center;
  font-size: 2em ;
}

.ptest
{
	/*height: 50%;*/
	/*width: 90% ;*/
	/*display: flex;*/
	justify-content: space-evenly ;
	/*align-items: center;*/
	font-size: 1.5rem ;
	text-decoration: none ;
	font-family: 'Roboto', sans-serif;
  display : flex ;
}

.flex
{
  display: flex ;
  /*margin : 3em ;*/
  justify-content: space-between;
}

.left
{
  display: flex ;
  flex-direction: column ;
  margin-left: 2em ;
  /*position: relative ;
  top : 0 ;
  left : 0 ;*/
}

.left_corner_one
{
  justify-content: left ;
  background-image : url('../LoginMenu/profile.png') ; 
  background-size: cover ;
  height: 7em;
  border-radius: 50% ;
  position: relative ;  
  width: 7em ;
}


.ui
{
  height: 30%;
  width: 30% ;
  justify-content: center;
  position: absolute ;
  bottom: 0 ;
  right: 0 ;
  /*opacity: 0 ;*/
  border: 1px solid white;
  /*display: flex;*/
  
  /*justify-content: center;*/
  /*align-items: center;*/
}


.right
{
  /*refer psymemt for this.*/
  display: flex;
  width: 70% ;
  margin-left: 5em;
  flex-direction: column ;
  justify-content: space-between; 
}

.propfilebox div 
{
     border : 1px solid black ;
}

.right_corner_two
{
  display: flex;
  flex-direction: row ;
  justify-content: flex-end;
}

.right, .right_corner_one, .right_corner_two
{
  /*border : 1px solid black;*/
}


.button
{
  margin: 0.5em 0.2em ;
  padding: 0.5em 2em ;
  background-color: transparent;
  font-size: 1.5rem ;
  font-weight: bold ;
  transition: all 0.4s ;
  letter-spacing: 0.05em ;
  color: blue ;
}

.button:hover
{
  color: white !important;
  /*background-color: transparent;*/
  transition: 1.4s ;
  border: 2px solid white !important;
}

.button-a
{
  color: white !important;
  border : 2px solid rgb(130, 195, 250);
  /*border-top : 2px solid white !important;*/
  transition: background-color 2s ;
}

.button-a:hover
{
  /*background-color: transparent;*/
}