@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.slide
{
	width: 100vw !important ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	min-height: 40vw ;
}

.cont
{
	width:100% ;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7) ;
	min-height: 40vw ;
}

.row
{	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw ;
    margin-right: 10vw ;
}

.arrow
{
	position: absolute;
	z-index: 9 ;
	cursor: pointer ;
	color: black ;
	top: 45% ;
	padding: 1em 1.1em ;
	font-size: 1.5rem ;
	border-radius: 50% ;
	background-color: rgba(100, 100, 100, 0.5) ;
	border : 1px solid rgba(100, 100, 100, 0.2);
	transition: all 0.2s ;
}

.arrow:hover
{
	background-color: rgba(255, 255, 255, 0.4) ;
	border : 1px solid rgba(0, 0, 0, 0.3);
}

.slider-parent .prev
{
	left:5%;
}

.slider-parent .next
{
	right:5%;
}

.cont .slide-message
{
	font-size: 2.5rem ;
	color: whitesmoke;
}

.cont a 
{
	text-decoration: none ;
	background-color: transparent;
	border: 1px solid darkgrey;
	color: white;
	padding: 0.5em;
	font-size: 1.5rem ;
	border-radius: 999rem ;
	margin: 5vh 35vw;
	transition: all 0.4s ;
}

.cont a:hover
{
	background-color: rgba(255, 255, 255, 0.7) ;
}

.slide-heading
{
	font-size : 5rem;
	color: whitesmoke;
	font-family: 'Roboto' ;
	margin-top: 0.5em ;
}

.slide-message
{
	font-family: 'Rubik' ;
}
