.testim-slider-parent
{
	margin: 1em 9.7vw ;
	padding-bottom: 1em ;
	color: white;
}

.testim-slide
{
	border-radius: 1rem ;
	background-color: black ;
}

.testim-up
{
	display: flex;
	width: 100% ;
	margin-top: 2vw ;
	font-family: 'Rubik' ;
}

.testim-img
{
	border-radius: 50% ;
	width: 9vw ;
	height: 9vw ;
	margin-left: 21vw ;
	margin-right: 5vw ;
}

.testim-name
{
	font-size: 1.5rem ;
	font-weight: bold ;
}

.testim-role
{
	font-size: 1.2rem ;
}

.testim-msg
{
	font-size: 1.3rem ;
	font-style: oblique; 
}

.testim-bullet
{
	position: absolute ;
	z-index: 4 ;
	bottom: 75px !important;
	display: flex ;
	flex-direction: column ;
	justify-content: space-between;
	margin-left: 4.25vw ;
}

.swiper-pagination-bullet
{
	color: white;
	margin: .4em !important;
	background: white ;
	opacity: 1 ;
}

.swiper-pagination-bullet-active
{
	background-color: #007aff ;
}