@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

.home-tile-child
{
	background-color: rgba(0, 0, 0, 0.4) ;
	width: 100%;
	height: 100% ;
	display: flex ;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 4.83vw;
	font-weight: 500 ;
	transition: all .5s ;
	font-family: 'Baloo', cursive;
}

.home-tile-child:hover
{
	background-color: rgba(255, 255, 255, 0.4) ;
}

.home-tile-link
{
	text-decoration: none ;
	color: white;
	padding: 0 .5em ;
	border-radius: 9rem;
	transform: scaleZ(1);
}

.faces
{
	background-image: url('../images/faces.jpg');
	background-size: cover;
	background-position: center;
}

.people
{
	background-size: cover;
	background-image: url('../images/people.jpg');
}

.objects
{
	background-size: cover;
	background-image: url('../images/objects.jpg');
}

.colors
{
	background-position: center;
	background-image: url('../images/colors.jpg');
}