.DetectContent h1
{
	font-size: 4rem ;
}

.DetectContent h3
{
	font-size: 2rem ;
}

.input-con input
{
	font-size: 1.5rem;
	margin: 1em 0.5em ;
	padding: 0.5em 1em ;
	border-top-left-radius: 1rem ;
	border-bottom-left-radius: 1rem ;
	border: 1px solid white ;
	transition: color 2s ;
	width: 35vw;
}

.input-con input::selection
{
	color: white;
	background-color: black ;
}

.input-con button
{
	color: white;
	font-size: 1.5rem;
	padding: 0.53em 1em ;
	border: none;
	box-shadow: none ;
	border-top-right-radius: 1rem ;
	border-bottom-right-radius: 1rem ; 
	overflow: hidden;
  	transition: color 0.5s ease-in-out, background-color 2s;
  	z-index: 1;
  	border: 1px solid white;
  	position: relative;
}

.input-con input:focus, .input-con button:focus
{
	outline: 0 ;
}

.input-con button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: white;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.7s ease-in-out;
}

.input-con button:hover {
  cursor: pointer;
  color: black;
}

.input-con button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.detcont-title, .detcont-subtitle
{
  	transition: text-shadow 2s ;
}