.bg
{
  position: fixed;
  z-index: -1 ;
  top: 0;
  bottom: 0 ;
  left: 0 ;
  right: 0 ; 
  text-align: center;
}

.login
{
  border: 1px solid black;
  margin: 10em auto 1em ;
  padding: 2em ;
  background-color: rgba(255, 255, 255, .1);
  display: inline-block;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  border-radius: .5rem;
}

.login-title
{
  font-size: 2.25rem;
  margin: 0 0 .5em ;
}

.lbl
{
  margin-right: 1em ;
  width: 7em;
  text-align: right;
  display: inline-block;
  font-size: 1.5rem ; 
}

.login input
{
  font-size: 1.5rem ; 
  background-color: transparent;
  border : 1px solid black;
  outline: 2px solid #ccddff;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  margin-top: 0.5em ;
}

.login input:focus
{
  outline : 4px solid black ;
  border: 1px solid black ;
}

.btn-con button
{
  color: black ;
  font-size: 1.3rem ;
  padding: 0.5em 0.7em ;
  margin-top: 1em ;
  background-color: transparent;
  border: 2px solid black;
  border-radius: .5rem;
  transition: all .3s ;
}

.inp:hover
{
  background-color: black ;
  color: #ccddff ;
  /*box-shadow: inset 0 0 0 1px #ccddff;*/
}

.btn-con button:focus
{
  outline: 0 ;
}

.btn-con button:hover
{
  background-color: black ;
  color: #ccddff ;
  box-shadow: inset 0 0 0 1px #ccddff;
}

.btn-con2
{
  color: black ;
  font-size: 1.3rem ;
  padding: 0.5em 0.7em ;
  margin-top: 1em ;
  margin-left: 2em ;
  background-color: transparent;
  border: 2px solid black;
  border-radius: .5rem;
  transition: all .3s ;
  text-decoration: none;
}

.btn-con2:hover
{
  background-color: black ;
  color: #ccddff ;
  box-shadow: inset 0 0 0 1px #ccddff;
}