.f04
{	font-size: 6.5rem ;
}
.f03
{	font-size: 5rem ;
	margin-left: 0.4em ;
}
.f04, .f03
{	display: inline-block;
	color: #8B0000 ;
	margin-top: 0.1em ;
	margin-bottom: 0.1em ;
}
.panel
{	text-align: center;
}
.taunt
{	font-size: 3.1vw ;
	font-weight: 500 ;
}
.nf
{	width : 28vw;
	text-align: center;
	margin-left: 5vw ; 
}
.fl
{
	display: flex;
}
@media  (max-width: 600px) {
	.nf
	{
		width: 80vw ;
	}

	.f04
	{
		font-size: 5rem ;
		margin : 0 ;
	}

	.f03
	{	margin : 0;
		font-size: 3.2rem ;
	}

	.fl
	{
		display: inline-block; 
	}
	.taunt
	{
		font-size: 5.2vw ;
		margin: 1rem 0;
	}
}