.box-con
{
	display: flex ;
	justify-content: center;
	margin-top: 1em ;
	flex-wrap: wrap ;
}

.face-box
{
	background-color: white ;
	border-radius: .5rem ;
	margin: 0.1em auto ;
}

.face-con
{
	text-align: center;
	/*border: 1px solid black ;*/
}