.box-con
{
	display: flex ;
	justify-content: center;
	margin-top: 1em ;
	flex-wrap: wrap ;
}

.face-box
{
	border-radius: .5rem ;
	margin: 0.1em auto ;
	/*transform: scale(0.8);*/
	overflow: hidden ;
}

.face-con
{
	text-align: center;
	margin: 2px;
	/*border: 1px solid black ;*/
}
