.header2
{
	display: flex ;
	position: fixed; 
	width: 100% ;
	top: 0 ;
	z-index: 14 ;
	height: 8vh ;
	overflow: visible;
	color: white ;
  	transition: background-color 2s ;
	justify-content: space-between;
	border-bottom : 1px solid white;
}

/*.ovname
{
  text-shadow: -3px -3px 0 steelblue, 3px -3px 0 steelblue, -3px 3px 0 steelblue, 3px 3px 0 steelblue;
}
*/
.header2-login, .header2-menu
{
	font-size: 2rem ;
}

.header2-menu
{
	border: 1px solid white;
	padding: .9vw .5vw .5vw ;
	margin-top: .4vh ; 
}
.ov
{
	height: 10vh;
	font-size: 4rem ;
	padding: 0 0.4em .3em ;
	border-bottom : 1px solid white;
	border-radius: 1rem ;
  	transition: background-color 2s ;
}

.header2-login
{
	margin-right: 2vw ;
	background-color: white ;
	padding: .1em .5em ;
  	transition: color 2s ;
  	transition: background-color .5s ;
  	border-left: 1px solid white;
  	border-right: 1px solid white;
  	border-bottom: 1px solid white;
}

.header2-login:hover
{	background-color: transparent;
	color: white !important;
}

.header2-menu
{
	margin-left: 2vw ;
}

.h2-para
{
	display: inline-block; 
	margin: 0;

}

.h2-para a , .header2-login a
{
  text-decoration : none;
  color: inherit;
}

.eye
{
	width: 65px ;
	transform: translateY(9px);
	position: relative;
	z-index: 1 ;
}

/*.eye::before {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid white;
  transform-origin: center;
  transform: scale(1);
}

.eye:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

.eye:hover {
  cursor: pointer;
}*/