.header2
{
	display: flex ;
	background-color: steelblue ;
	position: fixed; 
  	width: 100% ;
  	top: 0 ;
  	z-index: 14 ;
  	height: 8vh ;
  	overflow: visible;
	color: white ;
	justify-content: space-between;
}

.header2-login, .header2-menu
{
	font-size: 2rem ;
}

.ov
{
	background-color: steelblue ;
  	height: 10vh;
	font-size: 4rem ;
	padding: 0 0.4em .3em ;
	border-radius: 1rem ;
	/*-webkit-text-stroke: 2px blue;*/
}

.header2-login
{
	margin-right: 2vw ;
}

.header2-menu
{
	margin-left: 2vw ;
}

.h2-para
{
	display: inline-block; 
	margin: 0;
}

.h2-para a , .header2-login a
{
  text-decoration : none;
  color: inherit;
}

.eye
{
	width: 65px ;
	/*transform: translateY(9px);*/
	position: relative;
	z-index: 1 ;
}

/*.eye::before {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid white;
  transform-origin: center;
  transform: scale(1);
}

.eye:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

.eye:hover {
  cursor: pointer;
}*/